<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<h1>Random</h1>
	<script>
		var random = {
			x: 1,
			y: 2
		}
		console.log(random);
		fetch(`${window.origin}`, {
			method: "POST",
			credentials: "include",
			body: JSON.stringify(random),
			cache: "no-cache",
			headers: new Headers({
				"content-type": "application/json"
			})
		})
	</script>
</body>

</html>